{% extends "user_base.html" %}
{% block title %}OnlineQiu-Dashboard{% endblock %}
{% block content %}
	<main role="main">
		<div class="custom-container">
			<div style="min-height:50px;" class="hidden-xs"></div>
			<div style="padding:0 50px 0;">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h1 class="text-center">{{question_kind}}</h1>
					</div>
				</div>
				<table class="table tabel-striped table-bordered">
					
				</table>
			</div>
		</div>
	</main>
{% endblock %}