{% extends "user_base.html" %}
{% block title %}OnlineQiu-Dashboard{% endblock %}
{% block content %}
	<main role="main">
		<div class="custom-container">
			<div style="min-height:50px;" class="hidden-xs"></div>
			<div style="padding:0 50px 0;">
				<table class="table tabel-striped table-bordered">
					<caption><h1>排名</h1></caption>
					<thead>
						<tr>
							<th>名次</th>
							<th>用户名</th>
							<th>得分</th>
						</tr>
						{%for user in users%}
							<tbody>
							
								<td>{{loop.index}}</td>
								<td>{{user[0]}}</td>
								<td>{{user[1]}}</td>
							</tbody>
						{%endfor%}		
					</thead>
				</table>
			</div>
		</div>
	</main>
{% endblock %}